In [1]:
import pandas as pd
import numpy as pn

In [2]:
archivo_entrada = "datos2022.csv"
archivo_salida = "datos2022_coma.csv"

# Leer el archivo de entrada
with open(archivo_entrada, 'r') as f:
    contenido = f.read()

# Reemplazar punto y coma por coma
contenido_modificado = contenido.replace(';', ',')

# Guardar el contenido modificado en el archivo de salida
with open(archivo_salida, 'w') as f:
    f.write(contenido_modificado)

print(f"Se ha procesado el archivo. Puedes encontrar el resultado en {archivo_salida}")

Se ha procesado el archivo. Puedes encontrar el resultado en datos2022_coma.csv

In [3]:
datos=pd.read_csv("datos2022_coma.csv",parse_dates=True)

In [4]:
datos

,Unnamed: 0,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,...,lug_prod,pais_res,subcont_res,cont_res,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad
0,1,2,1,2022,4,20,2,218,13,1,...,32017,32,13,1,1,17,1701,88,66666,23
1,2,1,1,2022,5,26,2,218,13,1,...,756006,218,13,1,1,17,1701,88,55555,68
2,3,2,1,2022,12,8,1,218,13,1,...,170010,218,13,1,11,4,401,88,88888,14
3,4,2,1,2022,10,3,1,218,13,1,...,840095,218,13,1,12,9,901,88,4419,71
4,5,1,1,2022,2,1,2,218,13,1,...,724045,724,23,2,1,17,1701,88,9112,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,2,1,2022,11,4,1,218,13,1,...,840106,218,13,1,1,17,1701,88,4419,36
1048571,1048572,1,1,2022,3,28,1,218,13,1,...,170010,218,13,1,11,4,401,88,2144,31
1048572,1048573,2,1,2022,11,3,2,218,13,1,...,840095,218,13,1,12,9,901,88,77777,63
1048573,1048574,2,1,2022,8,11,2,218,13,1,...,32017,218,13,1,12,9,901,88,2161,26
1048574,1048575,1,1,2022,8,16,2,218,13,1,...,840095,218,13,1,12,9,901,88,55555,62

In [5]:
datos.dtypes

Unnamed: 0      int64
tip_movi        int64
tip_naci        int64
anio_movi       int64
mes_movi        int64
dia_movi        int64
sex_migr        int64
nac_migr        int64
subcont_nac     int64
cont_nac        int64
via_tran        int64
mot_viam        int64
pais_prod       int64
subcont_prod    int64
cont_prod       int64
lug_prod        int64
pais_res        int64
subcont_res     int64
cont_res        int64
jef_migr        int64
pro_jefm        int64
can_jefm        int64
cla_migr        int64
ocu_migr        int64
edad            int64
dtype: object

# Transformacion de datos

## Tipo movimiento

Entradas:1
Salidas: 2

In [6]:
datos['tip_movi'] = datos['tip_movi'].replace({1: 'Entrada', 2: 'Salida'})

In [7]:
datos

,Unnamed: 0,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,...,lug_prod,pais_res,subcont_res,cont_res,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad
0,1,Salida,1,2022,4,20,2,218,13,1,...,32017,32,13,1,1,17,1701,88,66666,23
1,2,Entrada,1,2022,5,26,2,218,13,1,...,756006,218,13,1,1,17,1701,88,55555,68
2,3,Salida,1,2022,12,8,1,218,13,1,...,170010,218,13,1,11,4,401,88,88888,14
3,4,Salida,1,2022,10,3,1,218,13,1,...,840095,218,13,1,12,9,901,88,4419,71
4,5,Entrada,1,2022,2,1,2,218,13,1,...,724045,724,23,2,1,17,1701,88,9112,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,Salida,1,2022,11,4,1,218,13,1,...,840106,218,13,1,1,17,1701,88,4419,36
1048571,1048572,Entrada,1,2022,3,28,1,218,13,1,...,170010,218,13,1,11,4,401,88,2144,31
1048572,1048573,Salida,1,2022,11,3,2,218,13,1,...,840095,218,13,1,12,9,901,88,77777,63
1048573,1048574,Salida,1,2022,8,11,2,218,13,1,...,32017,218,13,1,12,9,901,88,2161,26
1048574,1048575,Entrada,1,2022,8,16,2,218,13,1,...,840095,218,13,1,12,9,901,88,55555,62

## Tipo nacimiento

1 = Ecuatorianos
2 = Extranjeros

In [8]:
datos['tip_naci'] = datos['tip_naci'].replace({1: 'Ecuatorianos', 2: 'Extranjeros'})

In [9]:
datos

,Unnamed: 0,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,...,lug_prod,pais_res,subcont_res,cont_res,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad
0,1,Salida,Ecuatorianos,2022,4,20,2,218,13,1,...,32017,32,13,1,1,17,1701,88,66666,23
1,2,Entrada,Ecuatorianos,2022,5,26,2,218,13,1,...,756006,218,13,1,1,17,1701,88,55555,68
2,3,Salida,Ecuatorianos,2022,12,8,1,218,13,1,...,170010,218,13,1,11,4,401,88,88888,14
3,4,Salida,Ecuatorianos,2022,10,3,1,218,13,1,...,840095,218,13,1,12,9,901,88,4419,71
4,5,Entrada,Ecuatorianos,2022,2,1,2,218,13,1,...,724045,724,23,2,1,17,1701,88,9112,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,Salida,Ecuatorianos,2022,11,4,1,218,13,1,...,840106,218,13,1,1,17,1701,88,4419,36
1048571,1048572,Entrada,Ecuatorianos,2022,3,28,1,218,13,1,...,170010,218,13,1,11,4,401,88,2144,31
1048572,1048573,Salida,Ecuatorianos,2022,11,3,2,218,13,1,...,840095,218,13,1,12,9,901,88,77777,63
1048573,1048574,Salida,Ecuatorianos,2022,8,11,2,218,13,1,...,32017,218,13,1,12,9,901,88,2161,26
1048574,1048575,Entrada,Ecuatorianos,2022,8,16,2,218,13,1,...,840095,218,13,1,12,9,901,88,55555,62

## Sexo

Hombre:1
Mujer: 2
Indefinido: 3

In [10]:
datos['sex_migr'] = datos['sex_migr'].replace({1: 'Hombre', 2: 'Mujer',3: "Indefinido"})

In [11]:
datos

,Unnamed: 0,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,...,lug_prod,pais_res,subcont_res,cont_res,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad
0,1,Salida,Ecuatorianos,2022,4,20,Mujer,218,13,1,...,32017,32,13,1,1,17,1701,88,66666,23
1,2,Entrada,Ecuatorianos,2022,5,26,Mujer,218,13,1,...,756006,218,13,1,1,17,1701,88,55555,68
2,3,Salida,Ecuatorianos,2022,12,8,Hombre,218,13,1,...,170010,218,13,1,11,4,401,88,88888,14
3,4,Salida,Ecuatorianos,2022,10,3,Hombre,218,13,1,...,840095,218,13,1,12,9,901,88,4419,71
4,5,Entrada,Ecuatorianos,2022,2,1,Mujer,218,13,1,...,724045,724,23,2,1,17,1701,88,9112,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,Salida,Ecuatorianos,2022,11,4,Hombre,218,13,1,...,840106,218,13,1,1,17,1701,88,4419,36
1048571,1048572,Entrada,Ecuatorianos,2022,3,28,Hombre,218,13,1,...,170010,218,13,1,11,4,401,88,2144,31
1048572,1048573,Salida,Ecuatorianos,2022,11,3,Mujer,218,13,1,...,840095,218,13,1,12,9,901,88,77777,63
1048573,1048574,Salida,Ecuatorianos,2022,8,11,Mujer,218,13,1,...,32017,218,13,1,12,9,901,88,2161,26
1048574,1048575,Entrada,Ecuatorianos,2022,8,16,Mujer,218,13,1,...,840095,218,13,1,12,9,901,88,55555,62

## Nacionalidad - País de procedencia - País de residencia

In [12]:

diccionario_paises = {
    4: 'AFGANISTAN',
    8: 'ALBANIA',
    276: 'ALEMANIA (UNIDAD ALEMANA) GERMANY',
    20: 'ANDORRA',
    24: 'ANGOLA',
    660: 'ANGUILA',
    28: 'ANTIGUA Y BARBUDA ANTIGUA,BARB',
    530: 'ANTILLAS NEERLANDESAS (ANTILLAS HOLANDESAS) NETH.ANTILES',
    682: 'ARABIA SAUDITA SAUDI ARABIA',
    12: 'ARGELIA ARGELIA',
    32: 'ARGENTINA',
    51: 'ARMENIA ARMENIA',
    533: 'ARUBA',
    36: 'AUSTRALIA AUSTRALIA',
    40: 'AUSTRIA AUSTRIA',
    31: 'AZERBAIYAN AZERBAIJAN',
    44: 'BAHAMAS BAHAMAS',
    48: 'BAHREIN BAHRAIN',
    50: 'BANGLADESH BANGLADESH',
    52: 'BARBADOS BARBADOS',
    112: 'BELARUS (REPUBLICA DE BEILORRUSIA) BELARUS',
    56: 'BELGICA BELGIUM',
    84: 'BELICE BELIZE',
    204: 'BENIN BENIN',
    60: 'BERMUDA BERMUDA',
    64: 'BHUTAN BHUTAN',
    68: 'BOLIVIA BOLIVIA',
    70: 'BOSNIA Y HERZEGOVINA BOSNIA Y HERZEG',
    72: 'BOTSWANA (BOTSUANA) BOTSWANA',
    76: 'BRASIL BRAZIL',
    96: 'BRUNEI DARUSSALAM BRUNEI DARSM',
    100: 'BULGARIA BULGARIA',
    854: 'BURKINA FASO (ANTIGUA REPUBLICA ALTO BOLTA) BURKINA FASO',
    108: 'BURUNDI BURUNDI',
    132: 'CABO VERDE CAPE VERDE',
    116: 'CAMBOYA (KAMPUCHEA) CAMBODIA',
    120: "CAMERUN",
    124: "CANADA",
    148: "CHAD",
    152: "CHILE",
    156: "CHINA (REPUBLICA POPULAR DE) PEKIN",
    344: "HONG KONG (REGION ADMINISTRATIVA ESPECIAL DE CHINA) HONGKONG SAR",
    196: "CHIPRE",
    170: "COLOMBIA",
    174: "COMORAS",
    178: "CONGO",
    188: "COSTA RICA",
    384: "COTE D' IVOIRE (COSTA DE MARFIL) COTE DIVOIRE",
    191: "CROACIA",
    192: "CUBA",
    208: "DINAMARCA",
    262: "DJIBOUTI (YIBUTI) DJIBOUTI",
    212: "DOMINICA",
    218: "ECUADOR",
    818: "EGIPTO",
    222: "EL SALVADOR",
    784: "EMIRATOS ARABES UNIDOS UNTD ARAB EM",
    232: "ERITREA",
    703: "ESLOVAQUIA",
    705: "ESLOVENIA",
    724: "ESPAÑA",
    840: "ESTADOS UNIDOS USA",
    233: "ESTONIA",
    231: "ETIOPIA",
    807: "EX REPUBLICA YUGOSLAVIA (DE MASEDONIA) TFYROM",
    274: "FAJA DE GAZA (FRANJA DE GAZA)",
    643: "FEDERACION DE RUSIA (ANTIGUA UNION SOVIETICA) RUSSIAN FED",
    242: "FIJI",
    608: "FILIPINAS",
    246: "FINLANDIA",
    250: "FRANCIA",
    266: "GABÓN",
    270: "GAMBIA",
    268: "GEORGIA",
    288: "GHANA",
    292: "GIBRALTAR",
    308: "GRANADA GRENADA",
    300: "GRECIA GREECE",
    304: "GROENLANDIA GREENLAND",
    312: "GUADALUPE GUADELOUPE",
    316: "GUAM GUAM",
    320: "GUATEMALA GUATEMALA",
    324: "GUINEA GUINEA",
    624: "GUINEA - BISSAU GUINEABISSAU",
    226: "GUINEA ECUATORIAL EQ.GUINEA",
    328: "GUYANA GUYANA",
    254: "GUAYANA FRANCESA FR.GUIANA",
    332: "HAITÍ HAITÍ",
    340: "HONDURAS HONDURAS",
    348: "HUNGRIA HUNGARY",
    356: "INDIA INDIA",
    360: "INDONESIA INDONESIA",
    364: "IRAN (REPUBLICA ISLAMICA DEL) IRAN",
    368: "IRAQ IRAQ",
    372: "IRLANDA IRELAND",
    352: "ISLANDIA ICELAND",
    833: "ISLA DE MAN ISLE OF MAN",
    830: "ISLAS ANGLONORMANDAS (ISLAS DEL CANAL) CHANNEL IS",
    136: "ISLAS CAIMAN CAYMAN IS",
    184: "ISLAS COOK COOK IS",
    234: "ISLAS FEROE FAEROE IS",
    238: "ISLAS MALVINAS (FALKLAND) FALKLAND IS",
    580: "ISLAS MARIANAS SEPTENTRIONALES N.MARIANA IS",
    584: "ISLAS MARSHALL MARSHALL IS",
    574: "ISLAS NORFOLK NORFOLK IS",
    90: "ISLAS SALOMON SOLOMON IS",
    744: "ISLAS SVALBARD Y JAN MAYEN SVALBARD IS",
    796: "ISLAS TURCAS Y CAICOS TURKS,CAICOS",
    92: "ISLAS VIRGENES BRITANICAS BR.VIRGIN IS",
    850: "ISLAS VIRGENES DE LOS ESTADOS UNIDOS US.VIRGIN IS",
    876: "ISLAS WALLIS Y FUTUNA WALLIS FUT.I",
    376: "ISRAEL ISRAEL",
    380: "ITALIA ITALY",
    434: "JAMAHIRIYA ARABE LIBIA (LIBIA) LIBYA",
    388: "JAMAICA JAMAICA",
    392: "JAPON JAPAN",
    400: "JORDANIA JORDAN",
    398: "KAZAJSTAN KAZAKHSTAN",
    404: "KENYA KENYA",
    296: "KIRIBATI KIRIBATI",
    414: "KUWAIT KUWAIT",
    417: "KIRGUISTAN KYRGYZTAN",
    426: "LESOTHO LESOTHO",
    428: "LETONIA (LATVIJAS) LATVIA",
    422: "LIBANO LEBANON",
    430: "LIBERIA LIBERIA",
    438: "LIECHTENSTEIN LIECHTENSTEN",
    440: "LITUANIA LITHUANIA",
    442: "LUXEMBURGO LUXEMBOURG",
    446: "MACAO MACAO",
    450: "MADAGASCAR MADAGASCAR",
    458: "MALASIA (MALASIA PENINSULAR) MALASIA",
    454: "MALAWI MALAWI",
    462: "MALDIVAS MALDIVES",
    466: "MALI MALI",
    470: "MALTA MALTA",
    504: "MARRUECOS MOROCCO",
    474: "MARTINICA MARTINIQUE",
    480: "MAURICIO MAURITIUS",
    478: "MAURITANIA MAURITANIA",
    484: "MEXICO MEXICO",
    583: "MICRONESIA (ESTADOS FEDERADOS DE) MICRONESIA",
    492: "MONACO MONACO",
    496: "MONGOLIA MONGOLIA",
    500: "MONTSERRAT MONTSERRAT",
    508: "MOZAMBIQUE MOZAMBIQUE",
    104: "MYANMAR (BIRMANIA) MYANMAR",
    516: "NAMIBIA NAMIBIA",
    520: "NAURU NAURU",
    524: "NEPAL NEPAL",
    558: "NICARAGUA NICARAGUA",
    562: "NIGER NIGER",
    566: "NIGERIA NIGERIA",
    570: "NIUE NIUE",
    578: "NORUEGA NORWAY",
    540: "NUEVA CALEDONIA NEW CALEDNIA",
    554: "NUEVA ZELANDIA NEW ZEALAND",
    512: "OMAN OMAN",
    528: "PAISES BAJOS ( ISLA CURAZAO; HOLANDA; ZELANDA) NETHERLANDS",
    586: "PAKISTAN PAKISTAN",
    585: "PALAU (BELAU o PALAOS) PALAU",
    591: "PANAMA PANAMA",
    598: "PAPUA NUEVA GUINEA PAPUA N.GUIN",
    600: "PARAGUAY PARAGUAY",
    604: "PERU PERU",
    612: "PITCAIRN (ISLA) PITCAIRN",
    258: "POLINESIA FRANCESA FR.POLYNESIA",
    616: "POLONIA POLAND",
    620: "PORTUGAL PORTUGAL",
    158: "PROVINCIA CHINA DE TAIWAN",
    630: "PUERTO RICO PUERTO RICO",
    634: "QATAR QATAR",
    826: "REINO UNIDO (de GRAN BRETAÑA: ESCOCIA; GALES, INGLATERRA E IRLANDA DEL NORTE) UK",
    760: "REPUBLICA ARABE SIRIA SYRIA",
    140: "REPUBLICA CENTROAFRICANA CENT.AFR.REP",
    203: "REPUBLICA CHECA CZECH REP",
    410: "REPUBLICA DE COREA (COREA DEL SUR) KOREA REP.",
    498: "REPUBLICA DE MOLDOVA REP MOLDOVA",
    180: "REPUBLICA DEMOCRATICA DEL CONGO (ZAIRE) D. RP. CONGO",
    418: "REPUBLICA DEMOCRATICA POPULAR LAO (LAOS) LAO P.DEM.R.",
    214: "REPUBLICA DOMINICANA DOMINICAN RP",
    408: "REPUBLICA POPULAR DEMOCRATICA DE COREA (COREA DEL NORTE) KOREA D P RP",
    834: "REPUBLICA UNIDA DE TANZANIA TANZANIA",
    638: "REUNION (ISLA DE LA) REUNION",
    642: "RUMANIA ROMANIA",
    646: "RWANDA (RUANDA) RWANDA",
    732: "SAHARA OCCIDENTAL WESTN.SAHARA",
    659: "SAINT KITTS Y NEVIA (SAN CRISTOBAL Y NEVIS) ST.KITTS-NEV",
    666: "SAINT PIERRE Y MIQUELON (SAN PEDRO Y MIGUELON) ST.PIERRE,MQ",
    16: "SAMOA AMERICANA AMER SAMOA",
    882: "SAMOA (SAMOA OCCIDENTAL) SAMOA",
    674: "SAN MARINO (REPUBLICA DE) SAN MARINO",
    670: "SAN VICENTE Y LAS GRANADINAS ST.VINCENT,G",
    654: "SANTA ELENA (ISLA) ST.HELENA",
    622: "SANTA LUCIA (ISLA) ST.LUCIA",
    336: "SANTA SEDE (ESTADO DE LA CIUDAD DEL VATICANO) HOLY SEE",
    678: "SANTO TOME Y PRINCIPE SAO TOME PRN",
    686: "SENEGAL SENEGAL",
    690: "SEYCHELLES SEYCHELLES",
    694: "SIERRA LEONA SIERRA LEONE",
    702: "SINGAPUR SINGAPORE",
    706: "SOMALIA SOMALIA",
    144: "SRI LANKA (CEILAN) SRI LANKA",
    710: "SUDAFRICA SOUTH AFRICA",
    736: "SUDAN SUDAN",
    752: "SUECIA SWEDEN",
    756: "SUIZA SWITZERLAND",
    740: "SURINAME SURINAME",
    748: "SWAZILAND (SUAZILANDIA) SWAZILAND",
    764: "TAILANDIA THAILAND",
    762: "TAYIKISTAN (TAJIKISTAN) TAJIKISTAN",
    626: "TIMOR ORIENTAL (TIMOR DEL ESTE) EAST TIMOR",
    768: "TOGO TOGO",
    772: "TOKELAU TOKELAU",
    776: "TONGA TONGA",
    780: "TRINIDAD Y TOBAGO TRINIDAD TBG",
    788: "TUNEZ TUNISIA",
    795: "TURKMENISTAN TURKMENISTAN",
    792: "TURQUIA TURKEY",
    798: "TUVALU TUVALU",
    804: "UCRANIA UKRAINE",
    800: "UGANDA UGANDA",
    858: "URUGUAY URUGUAY",
    860: "UZBEKISTAN UZBEKISTAN",
    548: "VANUATU VANUATU",
    862: "VENEZUELA VENEZUELA",
    704: "VIET NAM VIET NAM",
    887: "YEMEN YEMEN",
    891: "YUGOSLAVIA (SERVIA , MONTENEGRO) YUGOSLAVIA",
    894: "ZAMBIA ZAMBIA",
    716: "ZIMBABWE (ZIMBABUE) ZIMBABWE",
    898: "ZONAS NO ESPECIFICADAS",
    901: "OTRAS NACIONES AMERICANAS",
    902: "OTRAS NACIONES DE EUROPA",
    903: "OTRAS NACIONES DE ASIA",
    904: "OTRAS NACIONES DE AFRICA",
    905: "OTRAS NACIONES DE OCEANIA" 
}

In [13]:
datos['pais_res'] = datos['pais_res'].replace(diccionario_paises)
datos['pais_prod'] = datos['pais_prod'].replace(diccionario_paises)
datos['nac_migr'] = datos['nac_migr'].replace(diccionario_paises)

In [14]:
datos

,Unnamed: 0,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,...,lug_prod,pais_res,subcont_res,cont_res,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad
0,1,Salida,Ecuatorianos,2022,4,20,Mujer,ECUADOR,13,1,...,32017,ARGENTINA,13,1,1,17,1701,88,66666,23
1,2,Entrada,Ecuatorianos,2022,5,26,Mujer,ECUADOR,13,1,...,756006,ECUADOR,13,1,1,17,1701,88,55555,68
2,3,Salida,Ecuatorianos,2022,12,8,Hombre,ECUADOR,13,1,...,170010,ECUADOR,13,1,11,4,401,88,88888,14
3,4,Salida,Ecuatorianos,2022,10,3,Hombre,ECUADOR,13,1,...,840095,ECUADOR,13,1,12,9,901,88,4419,71
4,5,Entrada,Ecuatorianos,2022,2,1,Mujer,ECUADOR,13,1,...,724045,ESPAÑA,23,2,1,17,1701,88,9112,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,Salida,Ecuatorianos,2022,11,4,Hombre,ECUADOR,13,1,...,840106,ECUADOR,13,1,1,17,1701,88,4419,36
1048571,1048572,Entrada,Ecuatorianos,2022,3,28,Hombre,ECUADOR,13,1,...,170010,ECUADOR,13,1,11,4,401,88,2144,31
1048572,1048573,Salida,Ecuatorianos,2022,11,3,Mujer,ECUADOR,13,1,...,840095,ECUADOR,13,1,12,9,901,88,77777,63
1048573,1048574,Salida,Ecuatorianos,2022,8,11,Mujer,ECUADOR,13,1,...,32017,ECUADOR,13,1,12,9,901,88,2161,26
1048574,1048575,Entrada,Ecuatorianos,2022,8,16,Mujer,ECUADOR,13,1,...,840095,ECUADOR,13,1,12,9,901,88,55555,62

## Vía de transporte

Vía Aérea: 1
Vía Terrestre: 2
Vía Marítima: 3
Vía Fluvial: 4

In [15]:
tipo_via_dict = {
    1: 'Vía Aérea',
    2: 'Vía Terrestre',
    3: 'Vía Marítima',
    4: 'Vía Fluvial'
}

In [16]:
datos['via_tran'] = datos['via_tran'].replace(tipo_via_dict)

In [17]:
datos

,Unnamed: 0,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,...,lug_prod,pais_res,subcont_res,cont_res,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad
0,1,Salida,Ecuatorianos,2022,4,20,Mujer,ECUADOR,13,1,...,32017,ARGENTINA,13,1,1,17,1701,88,66666,23
1,2,Entrada,Ecuatorianos,2022,5,26,Mujer,ECUADOR,13,1,...,756006,ECUADOR,13,1,1,17,1701,88,55555,68
2,3,Salida,Ecuatorianos,2022,12,8,Hombre,ECUADOR,13,1,...,170010,ECUADOR,13,1,11,4,401,88,88888,14
3,4,Salida,Ecuatorianos,2022,10,3,Hombre,ECUADOR,13,1,...,840095,ECUADOR,13,1,12,9,901,88,4419,71
4,5,Entrada,Ecuatorianos,2022,2,1,Mujer,ECUADOR,13,1,...,724045,ESPAÑA,23,2,1,17,1701,88,9112,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,Salida,Ecuatorianos,2022,11,4,Hombre,ECUADOR,13,1,...,840106,ECUADOR,13,1,1,17,1701,88,4419,36
1048571,1048572,Entrada,Ecuatorianos,2022,3,28,Hombre,ECUADOR,13,1,...,170010,ECUADOR,13,1,11,4,401,88,2144,31
1048572,1048573,Salida,Ecuatorianos,2022,11,3,Mujer,ECUADOR,13,1,...,840095,ECUADOR,13,1,12,9,901,88,77777,63
1048573,1048574,Salida,Ecuatorianos,2022,8,11,Mujer,ECUADOR,13,1,...,32017,ECUADOR,13,1,12,9,901,88,2161,26
1048574,1048575,Entrada,Ecuatorianos,2022,8,16,Mujer,ECUADOR,13,1,...,840095,ECUADOR,13,1,12,9,901,88,55555,62

## Motivo de viaje

Turismo: 1
Negocios: 2
Eventos: 3
Estudios: 4
Residencia: 5
Transeúnte: 6
Tripulación: 7
Otros: 9

In [18]:
tipo_de_visas = {
    1: 'Turismo',
    2: 'Negocios',
    3: 'Eventos',
    4: 'Estudios',
    5: 'Residencia',
    6: 'Transeúnte',
    7: 'Tripulación',
    9: 'Otros'
}

In [19]:
datos['mot_viam'] = datos['mot_viam'].replace(tipo_de_visas)

In [20]:
datos

,Unnamed: 0,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,...,lug_prod,pais_res,subcont_res,cont_res,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad
0,1,Salida,Ecuatorianos,2022,4,20,Mujer,ECUADOR,13,1,...,32017,ARGENTINA,13,1,1,17,1701,88,66666,23
1,2,Entrada,Ecuatorianos,2022,5,26,Mujer,ECUADOR,13,1,...,756006,ECUADOR,13,1,1,17,1701,88,55555,68
2,3,Salida,Ecuatorianos,2022,12,8,Hombre,ECUADOR,13,1,...,170010,ECUADOR,13,1,11,4,401,88,88888,14
3,4,Salida,Ecuatorianos,2022,10,3,Hombre,ECUADOR,13,1,...,840095,ECUADOR,13,1,12,9,901,88,4419,71
4,5,Entrada,Ecuatorianos,2022,2,1,Mujer,ECUADOR,13,1,...,724045,ESPAÑA,23,2,1,17,1701,88,9112,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,Salida,Ecuatorianos,2022,11,4,Hombre,ECUADOR,13,1,...,840106,ECUADOR,13,1,1,17,1701,88,4419,36
1048571,1048572,Entrada,Ecuatorianos,2022,3,28,Hombre,ECUADOR,13,1,...,170010,ECUADOR,13,1,11,4,401,88,2144,31
1048572,1048573,Salida,Ecuatorianos,2022,11,3,Mujer,ECUADOR,13,1,...,840095,ECUADOR,13,1,12,9,901,88,77777,63
1048573,1048574,Salida,Ecuatorianos,2022,8,11,Mujer,ECUADOR,13,1,...,32017,ECUADOR,13,1,12,9,901,88,2161,26
1048574,1048575,Entrada,Ecuatorianos,2022,8,16,Mujer,ECUADOR,13,1,...,840095,ECUADOR,13,1,12,9,901,88,55555,62

## Provincias del ecuador

In [21]:

diccionario_provincias_ecuador = {
    1: 'AZUAY',
    2: 'BOLIVAR',
    3: 'CAÑAR',
    4: 'CARCHI',
    5: 'CHIMBORAZO',
    6: 'COTOPAXI',
    7: 'EL ORO',
    8: 'ESMERALDAS',
    9: 'GALAPAGOS',
    10: 'GUAYAS',
    11: 'IMBABURA',
    12: 'LOJA',
    13: 'LOS RIOS',
    14: 'MANABI',
    15: 'MORONA SANTIAGO',
    16: 'NAPO',
    17: 'ORELLANA',
    18: 'PASTAZA',
    19: 'PICHINCHA',
    20: 'SANTA ELENA',
    21: 'SANTO DOMINGO DE LOS TSACHILAS',
    22: 'SUCUMBIOS',
    23: 'TUNGURAHUA',
    24: 'ZAMORA-CHINCHIPE'
}

In [22]:
datos['pro_jefm'] = datos['pro_jefm'].replace(diccionario_provincias_ecuador)

In [23]:
datos

,Unnamed: 0,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,...,lug_prod,pais_res,subcont_res,cont_res,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad
0,1,Salida,Ecuatorianos,2022,4,20,Mujer,ECUADOR,13,1,...,32017,ARGENTINA,13,1,1,ORELLANA,1701,88,66666,23
1,2,Entrada,Ecuatorianos,2022,5,26,Mujer,ECUADOR,13,1,...,756006,ECUADOR,13,1,1,ORELLANA,1701,88,55555,68
2,3,Salida,Ecuatorianos,2022,12,8,Hombre,ECUADOR,13,1,...,170010,ECUADOR,13,1,11,CARCHI,401,88,88888,14
3,4,Salida,Ecuatorianos,2022,10,3,Hombre,ECUADOR,13,1,...,840095,ECUADOR,13,1,12,GALAPAGOS,901,88,4419,71
4,5,Entrada,Ecuatorianos,2022,2,1,Mujer,ECUADOR,13,1,...,724045,ESPAÑA,23,2,1,ORELLANA,1701,88,9112,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,Salida,Ecuatorianos,2022,11,4,Hombre,ECUADOR,13,1,...,840106,ECUADOR,13,1,1,ORELLANA,1701,88,4419,36
1048571,1048572,Entrada,Ecuatorianos,2022,3,28,Hombre,ECUADOR,13,1,...,170010,ECUADOR,13,1,11,CARCHI,401,88,2144,31
1048572,1048573,Salida,Ecuatorianos,2022,11,3,Mujer,ECUADOR,13,1,...,840095,ECUADOR,13,1,12,GALAPAGOS,901,88,77777,63
1048573,1048574,Salida,Ecuatorianos,2022,8,11,Mujer,ECUADOR,13,1,...,32017,ECUADOR,13,1,12,GALAPAGOS,901,88,2161,26
1048574,1048575,Entrada,Ecuatorianos,2022,8,16,Mujer,ECUADOR,13,1,...,840095,ECUADOR,13,1,12,GALAPAGOS,901,88,55555,62

## Continente de residencia - Continente de nacionalidad

In [24]:
continentes = {
    1: "América",
    2: "Europa",
    3: "Asia",
    4: "África",
    5: "Oceanía"
}

In [25]:
datos['cont_nac'] = datos['cont_nac'].replace(continentes)
datos['cont_res'] = datos['cont_res'].replace(continentes)
datos['cont_prod'] = datos['cont_prod'].replace(continentes)

In [26]:
datos

,Unnamed: 0,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,...,lug_prod,pais_res,subcont_res,cont_res,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad
0,1,Salida,Ecuatorianos,2022,4,20,Mujer,ECUADOR,13,América,...,32017,ARGENTINA,13,América,1,ORELLANA,1701,88,66666,23
1,2,Entrada,Ecuatorianos,2022,5,26,Mujer,ECUADOR,13,América,...,756006,ECUADOR,13,América,1,ORELLANA,1701,88,55555,68
2,3,Salida,Ecuatorianos,2022,12,8,Hombre,ECUADOR,13,América,...,170010,ECUADOR,13,América,11,CARCHI,401,88,88888,14
3,4,Salida,Ecuatorianos,2022,10,3,Hombre,ECUADOR,13,América,...,840095,ECUADOR,13,América,12,GALAPAGOS,901,88,4419,71
4,5,Entrada,Ecuatorianos,2022,2,1,Mujer,ECUADOR,13,América,...,724045,ESPAÑA,23,Europa,1,ORELLANA,1701,88,9112,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,Salida,Ecuatorianos,2022,11,4,Hombre,ECUADOR,13,América,...,840106,ECUADOR,13,América,1,ORELLANA,1701,88,4419,36
1048571,1048572,Entrada,Ecuatorianos,2022,3,28,Hombre,ECUADOR,13,América,...,170010,ECUADOR,13,América,11,CARCHI,401,88,2144,31
1048572,1048573,Salida,Ecuatorianos,2022,11,3,Mujer,ECUADOR,13,América,...,840095,ECUADOR,13,América,12,GALAPAGOS,901,88,77777,63
1048573,1048574,Salida,Ecuatorianos,2022,8,11,Mujer,ECUADOR,13,América,...,32017,ECUADOR,13,América,12,GALAPAGOS,901,88,2161,26
1048574,1048575,Entrada,Ecuatorianos,2022,8,16,Mujer,ECUADOR,13,América,...,840095,ECUADOR,13,América,12,GALAPAGOS,901,88,55555,62

## Seleccion de columnas

In [27]:
datos=datos.loc[:,["tip_movi","tip_naci","anio_movi","mes_movi","dia_movi","sex_migr","nac_migr","via_tran","mot_viam","cont_res","cont_nac","cont_prod","pais_prod","pais_res","jef_migr","edad"]]

In [28]:
datos

,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,via_tran,mot_viam,cont_res,cont_nac,cont_prod,pais_prod,pais_res,jef_migr,edad
0,Salida,Ecuatorianos,2022,4,20,Mujer,ECUADOR,Vía Aérea,Residencia,América,América,América,ARGENTINA,ARGENTINA,1,23
1,Entrada,Ecuatorianos,2022,5,26,Mujer,ECUADOR,Vía Aérea,Residencia,América,América,Europa,SUIZA SWITZERLAND,ECUADOR,1,68
2,Salida,Ecuatorianos,2022,12,8,Hombre,ECUADOR,Vía Terrestre,Residencia,América,América,América,COLOMBIA,ECUADOR,11,14
3,Salida,Ecuatorianos,2022,10,3,Hombre,ECUADOR,Vía Aérea,Turismo,América,América,América,ESTADOS UNIDOS USA,ECUADOR,12,71
4,Entrada,Ecuatorianos,2022,2,1,Mujer,ECUADOR,Vía Aérea,Residencia,Europa,América,Europa,ESPAÑA,ESPAÑA,1,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,Salida,Ecuatorianos,2022,11,4,Hombre,ECUADOR,Vía Aérea,Turismo,América,América,América,ESTADOS UNIDOS USA,ECUADOR,1,36
1048571,Entrada,Ecuatorianos,2022,3,28,Hombre,ECUADOR,Vía Terrestre,Residencia,América,América,América,COLOMBIA,ECUADOR,11,31
1048572,Salida,Ecuatorianos,2022,11,3,Mujer,ECUADOR,Vía Aérea,Turismo,América,América,América,ESTADOS UNIDOS USA,ECUADOR,12,63
1048573,Salida,Ecuatorianos,2022,8,11,Mujer,ECUADOR,Vía Aérea,Turismo,América,América,América,ARGENTINA,ECUADOR,12,26
1048574,Entrada,Ecuatorianos,2022,8,16,Mujer,ECUADOR,Vía Aérea,Residencia,América,América,América,ESTADOS UNIDOS USA,ECUADOR,12,62

In [29]:
# Filtrar las filas donde la columna "Pais" no es numérica
datos['pais_prod'] = datos['pais_prod'].astype(str)
datos = datos[~datos['pais_prod'].apply(lambda x: x.replace(" ", "").isnumeric())]

datos['pais_res'] = datos['pais_res'].astype(str)
datos = datos[~datos['pais_res'].apply(lambda x: x.replace(" ", "").isnumeric())]

C:\Users\darin\AppData\Local\Temp\ipykernel_19200\589733202.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['pais_res'] = datos['pais_res'].astype(str)

In [30]:
datos

,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,via_tran,mot_viam,cont_res,cont_nac,cont_prod,pais_prod,pais_res,jef_migr,edad
0,Salida,Ecuatorianos,2022,4,20,Mujer,ECUADOR,Vía Aérea,Residencia,América,América,América,ARGENTINA,ARGENTINA,1,23
1,Entrada,Ecuatorianos,2022,5,26,Mujer,ECUADOR,Vía Aérea,Residencia,América,América,Europa,SUIZA SWITZERLAND,ECUADOR,1,68
2,Salida,Ecuatorianos,2022,12,8,Hombre,ECUADOR,Vía Terrestre,Residencia,América,América,América,COLOMBIA,ECUADOR,11,14
3,Salida,Ecuatorianos,2022,10,3,Hombre,ECUADOR,Vía Aérea,Turismo,América,América,América,ESTADOS UNIDOS USA,ECUADOR,12,71
4,Entrada,Ecuatorianos,2022,2,1,Mujer,ECUADOR,Vía Aérea,Residencia,Europa,América,Europa,ESPAÑA,ESPAÑA,1,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,Salida,Ecuatorianos,2022,11,4,Hombre,ECUADOR,Vía Aérea,Turismo,América,América,América,ESTADOS UNIDOS USA,ECUADOR,1,36
1048571,Entrada,Ecuatorianos,2022,3,28,Hombre,ECUADOR,Vía Terrestre,Residencia,América,América,América,COLOMBIA,ECUADOR,11,31
1048572,Salida,Ecuatorianos,2022,11,3,Mujer,ECUADOR,Vía Aérea,Turismo,América,América,América,ESTADOS UNIDOS USA,ECUADOR,12,63
1048573,Salida,Ecuatorianos,2022,8,11,Mujer,ECUADOR,Vía Aérea,Turismo,América,América,América,ARGENTINA,ECUADOR,12,26
1048574,Entrada,Ecuatorianos,2022,8,16,Mujer,ECUADOR,Vía Aérea,Residencia,América,América,América,ESTADOS UNIDOS USA,ECUADOR,12,62

## Guardar archivo

In [32]:
ruta_csv = 'datosLimpios2022.csv'  
datos[:10000,.to_csv(ruta_csv, index=False)
print(f'DataFrame guardado exitosamente en {ruta_csv}')

DataFrame guardado exitosamente en datosLimpios2022.csv