In [13]:
import pandas as pd
import numpy as pn

In [15]:
archivo_entrada = "datos2022.csv"
archivo_salida = "datos2022_coma.csv"

# Leer el archivo de entrada
with open(archivo_entrada, 'r') as f:
    contenido = f.read()

# Reemplazar punto y coma por coma
contenido_modificado = contenido.replace(';', ',')

# Guardar el contenido modificado en el archivo de salida
with open(archivo_salida, 'w') as f:
    f.write(contenido_modificado)

print(f"Se ha procesado el archivo. Puedes encontrar el resultado en {archivo_salida}")

Se ha procesado el archivo. Puedes encontrar el resultado en datos2022_coma.csv

In [26]:
datos=pd.read_csv("datos2022_coma.csv",parse_dates=True)

In [27]:
datos

,Unnamed: 0,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,...,lug_prod,pais_res,subcont_res,cont_res,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad
0,1,2,1,2022,4,20,2,218,13,1,...,32017,32,13,1,1,17,1701,88,66666,23
1,2,1,1,2022,5,26,2,218,13,1,...,756006,218,13,1,1,17,1701,88,55555,68
2,3,2,1,2022,12,8,1,218,13,1,...,170010,218,13,1,11,4,401,88,88888,14
3,4,2,1,2022,10,3,1,218,13,1,...,840095,218,13,1,12,9,901,88,4419,71
4,5,1,1,2022,2,1,2,218,13,1,...,724045,724,23,2,1,17,1701,88,9112,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,2,1,2022,11,4,1,218,13,1,...,840106,218,13,1,1,17,1701,88,4419,36
1048571,1048572,1,1,2022,3,28,1,218,13,1,...,170010,218,13,1,11,4,401,88,2144,31
1048572,1048573,2,1,2022,11,3,2,218,13,1,...,840095,218,13,1,12,9,901,88,77777,63
1048573,1048574,2,1,2022,8,11,2,218,13,1,...,32017,218,13,1,12,9,901,88,2161,26
1048574,1048575,1,1,2022,8,16,2,218,13,1,...,840095,218,13,1,12,9,901,88,55555,62

In [29]:
datos.dtypes

Unnamed: 0      int64
tip_movi        int64
tip_naci        int64
anio_movi       int64
mes_movi        int64
dia_movi        int64
sex_migr        int64
nac_migr        int64
subcont_nac     int64
cont_nac        int64
via_tran        int64
mot_viam        int64
pais_prod       int64
subcont_prod    int64
cont_prod       int64
lug_prod        int64
pais_res        int64
subcont_res     int64
cont_res        int64
jef_migr        int64
pro_jefm        int64
can_jefm        int64
cla_migr        int64
ocu_migr        int64
edad            int64
dtype: object

# Transformacion de datos

## Tipo movimiento

Entradas:1
Salidas: 2

In [30]:
datos['tip_movi'] = datos['tip_movi'].replace({1: 'Entrada', 2: 'Salida'})

In [31]:
datos

,Unnamed: 0,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,...,lug_prod,pais_res,subcont_res,cont_res,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad
0,1,Salida,1,2022,4,20,2,218,13,1,...,32017,32,13,1,1,17,1701,88,66666,23
1,2,Entrada,1,2022,5,26,2,218,13,1,...,756006,218,13,1,1,17,1701,88,55555,68
2,3,Salida,1,2022,12,8,1,218,13,1,...,170010,218,13,1,11,4,401,88,88888,14
3,4,Salida,1,2022,10,3,1,218,13,1,...,840095,218,13,1,12,9,901,88,4419,71
4,5,Entrada,1,2022,2,1,2,218,13,1,...,724045,724,23,2,1,17,1701,88,9112,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,Salida,1,2022,11,4,1,218,13,1,...,840106,218,13,1,1,17,1701,88,4419,36
1048571,1048572,Entrada,1,2022,3,28,1,218,13,1,...,170010,218,13,1,11,4,401,88,2144,31
1048572,1048573,Salida,1,2022,11,3,2,218,13,1,...,840095,218,13,1,12,9,901,88,77777,63
1048573,1048574,Salida,1,2022,8,11,2,218,13,1,...,32017,218,13,1,12,9,901,88,2161,26
1048574,1048575,Entrada,1,2022,8,16,2,218,13,1,...,840095,218,13,1,12,9,901,88,55555,62

## Tipo nacimiento

1 = Ecuatorianos
2 = Extranjeros

In [33]:
datos['tip_naci'] = datos['tip_naci'].replace({1: 'Ecuatorianos', 2: 'Extranjeros'})

In [34]:
datos

,Unnamed: 0,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,...,lug_prod,pais_res,subcont_res,cont_res,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad
0,1,Salida,Ecuatorianos,2022,4,20,2,218,13,1,...,32017,32,13,1,1,17,1701,88,66666,23
1,2,Entrada,Ecuatorianos,2022,5,26,2,218,13,1,...,756006,218,13,1,1,17,1701,88,55555,68
2,3,Salida,Ecuatorianos,2022,12,8,1,218,13,1,...,170010,218,13,1,11,4,401,88,88888,14
3,4,Salida,Ecuatorianos,2022,10,3,1,218,13,1,...,840095,218,13,1,12,9,901,88,4419,71
4,5,Entrada,Ecuatorianos,2022,2,1,2,218,13,1,...,724045,724,23,2,1,17,1701,88,9112,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,Salida,Ecuatorianos,2022,11,4,1,218,13,1,...,840106,218,13,1,1,17,1701,88,4419,36
1048571,1048572,Entrada,Ecuatorianos,2022,3,28,1,218,13,1,...,170010,218,13,1,11,4,401,88,2144,31
1048572,1048573,Salida,Ecuatorianos,2022,11,3,2,218,13,1,...,840095,218,13,1,12,9,901,88,77777,63
1048573,1048574,Salida,Ecuatorianos,2022,8,11,2,218,13,1,...,32017,218,13,1,12,9,901,88,2161,26
1048574,1048575,Entrada,Ecuatorianos,2022,8,16,2,218,13,1,...,840095,218,13,1,12,9,901,88,55555,62

## Sexo

Hombre:1
Mujer: 2
Indefinido: 3

In [38]:
datos['sex_migr'] = datos['sex_migr'].replace({1: 'Hombre', 2: 'Mujer',3: "Indefinido"})

In [39]:
datos

,Unnamed: 0,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,...,lug_prod,pais_res,subcont_res,cont_res,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad
0,1,Salida,Ecuatorianos,2022,4,20,Mujer,218,13,1,...,32017,32,13,1,1,17,1701,88,66666,23
1,2,Entrada,Ecuatorianos,2022,5,26,Mujer,218,13,1,...,756006,218,13,1,1,17,1701,88,55555,68
2,3,Salida,Ecuatorianos,2022,12,8,Hombre,218,13,1,...,170010,218,13,1,11,4,401,88,88888,14
3,4,Salida,Ecuatorianos,2022,10,3,Hombre,218,13,1,...,840095,218,13,1,12,9,901,88,4419,71
4,5,Entrada,Ecuatorianos,2022,2,1,Mujer,218,13,1,...,724045,724,23,2,1,17,1701,88,9112,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,Salida,Ecuatorianos,2022,11,4,Hombre,218,13,1,...,840106,218,13,1,1,17,1701,88,4419,36
1048571,1048572,Entrada,Ecuatorianos,2022,3,28,Hombre,218,13,1,...,170010,218,13,1,11,4,401,88,2144,31
1048572,1048573,Salida,Ecuatorianos,2022,11,3,Mujer,218,13,1,...,840095,218,13,1,12,9,901,88,77777,63
1048573,1048574,Salida,Ecuatorianos,2022,8,11,Mujer,218,13,1,...,32017,218,13,1,12,9,901,88,2161,26
1048574,1048575,Entrada,Ecuatorianos,2022,8,16,Mujer,218,13,1,...,840095,218,13,1,12,9,901,88,55555,62

## Nacionalidad - País de procedencia - País de residencia

In [42]:

diccionario_paises = {
    4: 'AFGANISTAN',
    8: 'ALBANIA',
    276: 'ALEMANIA (UNIDAD ALEMANA)',
    20: 'ANDORRA',
    24: 'ANGOLA',
    660: 'ANGUILA',
    28: 'ANTIGUA Y BARBUDA',
    530: 'ANTILLAS NEERLANDESAS (ANTILLAS HOLANDESAS)',
    682: 'ARABIA SAUDITA',
    12: 'ARGELIA',
    32: 'ARGENTINA',
    51: 'ARMENIA',
    533: 'ARUBA',
    36: 'AUSTRALIA',
    40: 'AUSTRIA',
    31: 'AZERBAIYAN',
    44: 'BAHAMAS',
    48: 'BAHREIN',
    50: 'BANGLADESH',
    52: 'BARBADOS',
    112: 'BELARUS (REPUBLICA DE BEILORRUSIA)',
    56: 'BELGICA',
    84: 'BELICE',
    204: 'BENIN',
    60: 'BERMUDA',
    64: 'BHUTAN',
    68: 'BOLIVIA',
    70: 'BOSNIA Y HERZEGOVINA',
    72: 'BOTSWANA (BOTSUANA)',
    76: 'BRASIL',
    96: 'BRUNEI DARUSSALAM',
    100: 'BULGARIA',
    854: 'BURKINA FASO (ANTIGUA REPUBLICA ALTO BOLTA)',
    108: 'BURUNDI',
    132: 'CABO VERDE',
    116: 'CAMBOYA (KAMPUCHEA)',
    120: 'CAMERUN',
    124: 'CANADA',
    148: 'CHAD',
    152: 'CHILE',
    156: 'CHINA (REPUBLICA POPULAR DE)',
    344: 'HONG KONG (REGION ADMINISTRATIVA ESPECIAL DE CHINA)',
    196: 'CHIPRE',
    170: 'COLOMBIA',
    174: 'COMORAS',
    178: 'CONGO',
    188: 'COSTA RICA',
    384: "COTE D'IVOIRE (COSTA DE MARFIL)",
    191: 'CROACIA',
    192: 'CUBA',
    208: 'DINAMARCA',
    262: 'DJIBOUTI (YIBUTI)',
    212: 'DOMINICA',
    218: 'ECUADOR',
    818: 'EGIPTO',
    222: 'EL SALVADOR',
    784: 'EMIRATOS ARABES UNIDOS',
    232: 'ERITREA',
    703: 'ESLOVAQUIA',
    705: 'ESLOVENIA',
    724: 'ESPAÑA',
    840: 'ESTADOS UNIDOS',
    233: 'ESTONIA',
    231: 'ETIOPIA',
    807: 'EX REPUBLICA YUGOSLAVIA (DE MASEDONIA)',
    274: 'FAJA DE GAZA (FRANJA DE GAZA)',
    643: 'FEDERACION DE RUSIA (ANTIGUA UNION SOVIETICA)',
    242: 'FIJI',
    608: 'FILIPINAS',
    246: 'FINLANDIA',
    250: 'FRANCIA',
    266: 'GABÓN',
    270: 'GAMBIA',
    268: 'GEORGIA',
    288: 'GHANA',
    292: 'GIBRALTAR',
    308: 'GRANADA',
    300: 'GRECIA',
    304: 'GROENLANDIA',
    312: 'GUADALUPE',
    316: 'GUAM',
    320: 'GUATEMALA',
    324: 'GUINEA',
    624: 'GUINEA - BISSAU',
    226: 'GUINEA ECUATORIAL',
    328: 'GUYANA',
    254: 'GUAYANA FRANCESA',
    332: 'HAITÍ',
    340: 'HONDURAS',
    348: 'HUNGRIA',
    356: 'INDIA',
    360: 'INDONESIA',
    364: 'IRAN (REPUBLICA ISLAMICA DEL)',
    368: 'IRAQ',
    372: 'IRLANDA',
    352: 'ISLANDIA',
    833: 'ISLA DE MAN',
    830: 'ISLAS ANGLONORMANDAS (ISLAS DEL CANAL)',
    136: 'ISLAS CAIMAN',
    184: 'ISLAS COOK',
    234: 'ISLAS FEROE',
    238: 'ISLAS MALVINAS (FALKLAND)',
    580: 'ISLAS MARIANAS SEPTENTRIONALES',
    584: 'ISLAS MARSHALL',
    574: 'ISLAS NORFOLK',
    90: 'ISLAS SALOMON',
    744: 'ISLAS SVALBARD Y JAN MAYEN',
    796: 'ISLAS TURCAS Y CAICOS',
    92: 'ISLAS VIRGENES BRITANICAS',
    850: 'ISLAS VIRGENES DE LOS ESTADOS UNIDOS',
    876: 'ISLAS WALLIS Y FUTUNA',
    376: 'ISRAEL',
    380: 'ITALIA',
    434: 'JAMAHIRIYA ARABE LIBIA (LIBIA)',
    388: 'JAMAICA',
    392: 'JAPON',
    400: 'JORDANIA',
    398: 'KAZAJSTAN',
    404: 'KENYA',
    296: 'KIRIBATI',
    414: 'KUWAIT',
    417: 'KIRGUISTAN',
    426: 'LESOTHO',
    428: 'LETONIA (LATVIJAS)',
    422: 'LIBANO',
    430: 'LIBERIA',
    438: 'LIECHTENSTEIN',
    440: 'LITUANIA',
    442: 'LUXEMBURGO',
}

In [45]:
datos['pais_res'] = datos['pais_res'].replace(diccionario_paises)
datos['pais_prod'] = datos['pais_prod'].replace(diccionario_paises)
datos['nac_migr'] = datos['nac_migr'].replace(diccionario_paises)

In [46]:
datos

,Unnamed: 0,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,...,lug_prod,pais_res,subcont_res,cont_res,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad
0,1,Salida,Ecuatorianos,2022,4,20,Mujer,ECUADOR,13,1,...,32017,ARGENTINA,13,1,1,17,1701,88,66666,23
1,2,Entrada,Ecuatorianos,2022,5,26,Mujer,ECUADOR,13,1,...,756006,ECUADOR,13,1,1,17,1701,88,55555,68
2,3,Salida,Ecuatorianos,2022,12,8,Hombre,ECUADOR,13,1,...,170010,ECUADOR,13,1,11,4,401,88,88888,14
3,4,Salida,Ecuatorianos,2022,10,3,Hombre,ECUADOR,13,1,...,840095,ECUADOR,13,1,12,9,901,88,4419,71
4,5,Entrada,Ecuatorianos,2022,2,1,Mujer,ECUADOR,13,1,...,724045,ESPAÑA,23,2,1,17,1701,88,9112,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,Salida,Ecuatorianos,2022,11,4,Hombre,ECUADOR,13,1,...,840106,ECUADOR,13,1,1,17,1701,88,4419,36
1048571,1048572,Entrada,Ecuatorianos,2022,3,28,Hombre,ECUADOR,13,1,...,170010,ECUADOR,13,1,11,4,401,88,2144,31
1048572,1048573,Salida,Ecuatorianos,2022,11,3,Mujer,ECUADOR,13,1,...,840095,ECUADOR,13,1,12,9,901,88,77777,63
1048573,1048574,Salida,Ecuatorianos,2022,8,11,Mujer,ECUADOR,13,1,...,32017,ECUADOR,13,1,12,9,901,88,2161,26
1048574,1048575,Entrada,Ecuatorianos,2022,8,16,Mujer,ECUADOR,13,1,...,840095,ECUADOR,13,1,12,9,901,88,55555,62